# System files (macOS)
.DS_Store
._*

# Python cache
__pycache__/
*.py[cod]

# Secrets and local env
.env
token.json
credentials.json

# Virtual env
venv/

# Lambda zip or deploy folders
lambda_deploy/

